/*font-family: 'Saira', sans-serif;
font-family: 'Saira Condensed', sans-serif;*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}
header {
	position: relative;
	height: 100vh;
	background-color: #2aa6dc;
	overflow: hidden;
	max-width: 1920px;
	margin: 0 auto;
}
header > * {
	position: absolute;
}
header img {	
	height: 50%;
	bottom: 0;
	right: 0;
}
header div.welcome {
	z-index: 1;
	top: 8%;
	left: 5%;
	right: 5%;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 40px;
	font-weight: bold;	
	text-transform: uppercase; 
	color: #fff;
	text-align: center;
}
header h1 {
	margin-top: 15px;		
	font-size: 20px;	
}
header h2 {		
	margin-top: -10px;
	font-size: 20px;
	font-weight: normal;		
}
header button {		
	border: 2px solid #fff;	
	padding: 0px 20px;
	line-height: 32px;	
	font-family: 'Saira Condensed', sans-serif;
	font-size: 12px;
	font-weight: 300;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;	
}
@media (orientation: portrait) and (min-width: 360px) {
	header h1, header h2 {
		font-size: 26px;
	}
	header button {
		margin-top: 25px;
		font-size: 20px;
		line-height: 40px;
	}
}
@media (orientation: portrait) and (min-width: 410px) {
	header h1, header h2 {
		font-size: 28px;
	}
	header button {
		margin-top: 40px;
		font-size: 22px;
		line-height: 50px;
	}
	header img {
		right: -20%;
	}
}
@media (orientation: portrait) and (min-width: 768px) {
	
	header p {
		font-size: 80px;
	}
	header h1, header h2 {
		font-size: 48px;
	}
	header button {
		margin-top: 30px;
		font-size: 36px;
		line-height: 70px;
	}
	header img {
		right: 0;
	}
}
@media (orientation: landscape) {
	header img {	
		height: 90%;
		right: -5%;
	}
	header div.welcome {
		top: 10%;
		left: 5%;
		right: 52%;
	}
	header button {
		margin-top: 30px;
	}
}
@media (orientation: landscape) and (min-width: 640px) {
	header h1, header h2 {
		font-size: 24px;
	}
	header button {
		font-size: 16px;
		line-height: 40px;
	}
}
@media (orientation: landscape) and (min-width: 1024px) {
	header div.welcome {
		left: 3%;
	}
	header p {
		font-size: 60px;
	}
	header h1, header h2 {
		font-size: 38px;
	}
	header h1 {
		margin-top: 40px;
	}
	header button {
		margin-top: 80px;
		font-size: 28px;
		line-height: 70px;
	}
	header img {
		right: -20%;
	}
}
@media (orientation: landscape) and (min-width: 1280px) {
	header div.welcome {
		text-align: left;
		left: 6%;
	}
	header p {
		font-size: 100px;
	}
	header h1, header h2 {
		font-size: 48px;
	}
	header h1 {
		margin-top: 30px;
	}
	header button {
		padding: 0 40px;
		margin-top: 100px;
		font-size: 30px;
		line-height: 80px;

	}
	header img {
		right: -10%;
	}
}
@media (orientation: landscape) and (min-width: 1600px) {
	header p {
		font-size: 120px;
	}
	header h1, header h2 {
		font-size: 60px;
	}
	header h1 {
		margin-top: 40px;
	}
	header button {				
		line-height: 90px;
	}
	header img {
		right: -10%;
	}
}
@media (min-width: 1024px) {
	header button {
		cursor: pointer;
		transition: .3s;
	}
	header button:hover {
		background-color: #fff;
		color: #111;
	}
}

section {
	min-height: 30vh;
}
/*features*/
.features {
	margin: 50px auto 0;
	padding: 5%;
	text-align: center;
	max-width: 1600px;
}
.features h1 {	
	font-family: 'Saira Condensed', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.features h2 {	
	font-family: 'Saira Condensed', sans-serif;
	font-size: 20px;
	text-transform: uppercase;
}
.features p {
	font-family: 'Saira', sans-serif;
	font-size: 12px;	
	font-weight: 300;
	margin: 20px 0;
}
.features img {
	width: 100%;
	margin: 5px 0;
	max-width: 375px;
}
@media (min-width: 360px) {
	.features h1 {
		font-size: 28px;
	}
	.features h2 {
		font-size: 24px;
	}
	.features p {
		font-size: 16px;
	}
}
@media (min-width: 768px) {
	.features h1 {
		font-size: 36px;
	}
	.features h2 {
		font-size: 28px;
	}
	.features p {
		font-size: 18px;
	}
}
@media (min-width: 1024px) {
	.features {
		margin-top: 50px;
		padding: 5% 2%;
		text-align: center;
	}
	.feature {
		float: left;
		width: 33%;
		padding: 25px;
	}
	.features h1 {
		font-size: 36px;
	}
	.features h2 {
		font-size: 22px;
	}
	.features p {
		font-size: 16px;
		padding: 0 10px;
	}
}
@media (min-width: 1280px) {
	.features h1 {
		font-size: 42px;
	}
	.features h2 {
		font-size: 28px;
	}
	.features p {
		font-size: 20px;
		padding: 0 10px;
	}
}
@media (min-width: 1600px) {
	.feature {
		padding: 20px 50px;

	}
	.features h1 {
		font-size: 60px;
	}
	.features h2 {
		font-size: 32px;
	}
	.features p {
		font-size: 22px;
		line-height: 150%;
		padding: 0 10px;
	}
}
/*portfolio*/
.portfolio {
	margin: 0 auto;
	padding: 5px 0;
	background-color: #222;
}
.portfolio h1 {	
	padding: 20px;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.portfolio .web img{
	width: 100%;
}
.portfolio .about {
	padding: 10px 20px 20px 0;
	font-family: 'Saira', sans-serif;
	color: #fff;
	text-align: left;
}
.portfolio .about h2 {
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 2px solid #fff;
	margin-bottom: 12px;
	padding-bottom: 6px;
	text-indent: 20px;
}
.portfolio .about p {
	font-size: 12px;
	padding-left: 20px;
}
.portfolio .project {
	max-width: 1400px;
	margin: 0 auto 20px;
}
.portfolio .project:nth-of-type(odd) {
	background-color: #ff4f2c;
}
.portfolio .project:nth-of-type(even) {
	background-color: #2aa6dc;
}
@media (orientation: portrait) and (min-width: 768px) {
	.portfolio h1 {
		font-size: 36px;
	}
	.portfolio .about h2 {
		font-size: 28px;
		text-indent: 40px;
	}
	.portfolio .about p {
		font-size: 18px;
		padding-left: 40px;
	}
	.portfolio .project {
		margin-bottom: 40px;
	}
}
@media (orientation: landscape) and (min-width: 530px) {
	.web, .about {
		width: 50%;
		float: left;
	}
	.web img {
		display: block;
	}
	.portfolio .about p {
  	font-size: 10px;
  }
  .portfolio .about h2 {
		margin-bottom: 4px;
    padding-bottom: 4px;
  }
	.portfolio .project:nth-of-type(even) .web {
		float: right;
	}
	.portfolio .project:nth-of-type(even) .about h2 {
		text-indent: 0;
		margin-left: 20px;
	}
	.portfolio .project:nth-of-type(even) .about {
    padding-right: 0;
  }
  .portfolio .project:nth-of-type(even) .about p {
  	padding-right: 20px;
  }
}
@media (orientation: landscape) and (min-width: 640px) {
	.portfolio h1 {		
		font-size: 24px; 
	}
	.portfolio .about h2 {
		font-size: 18px;	
		margin-bottom: 6px;
    padding-bottom: 6px;	
	}
	.portfolio .about p {
		font-size: 12px;
	}		
}
@media (orientation: landscape) and (min-width: 800px) {
	.portfolio h1 {
		font-size: 36px;
	}
	.portfolio .about h2 {
		font-size: 22px;
		text-indent: 40px;
	}
	.portfolio .about p {
		font-size: 16px;
		padding-left: 40px;
	}
	.portfolio .project {
		margin-bottom: 40px;
	}
	.portfolio .project:nth-of-type(even) .about h2 {
		margin-left: 40px;
	}
}
@media (orientation: landscape) and (min-width: 1024px) {
	.portfolio h1 {		
		padding: 30px 0;
	}
	.portfolio .about h2 {
		margin-bottom: 20px;
		padding-top: 15px;
		font-size: 26px;		
	}
	.portfolio .about p {
		font-size: 18px;		
	}
	.portfolio .project:nth-of-type(even) .about h2 {
		text-indent: 0;
		margin-left: 40px;
	}
}
@media (orientation: landscape) and (min-width: 1400px) {
	.portfolio h1 {
		font-size: 48px;		
	}
	.portfolio .about h2 {
		margin-bottom: 40px;
		padding-top: 40px;
		font-size: 32px;		
	}
	.portfolio .about p {
		font-size: 20px;		
		line-height: 180%;
	}
	.portfolio .project {
		margin-bottom: 40px;
	}
}
/*motto*/
.motto {
	height: 80vh;	
	text-align: center;
	color: #fff;
	background-image: url(images/motto.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	margin: 0 auto;
}
.motto .bg {
	height: 80vh;
	padding: 30px 15px;	
	background-color: rgba(0, 63, 114, .5);
}
.motto h1 {
	margin-bottom: 10px;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
}
.motto p {	
	position: relative;
	top: 20%;
	font-family: 'Saira', sans-serif;
	font-size: 18px;
}
.motto p.author {
	font-size: 12px;
	margin-top: 10px;
	text-transform: capitalize;
}
@media (orientation: portrait) and (min-width: 375px) {
	.motto .bg {		
		padding: 30px;			
	}
	.motto h1 {
		font-size: 28px;
	}
	.motto p {
		font-size: 22px;
	}
	.motto p.author {
		font-size: 14px;
	}
}
@media (orientation: portrait) and (min-width: 768px) {
	.motto .bg {		
		padding: 60px;			
	}
	.motto h1 {
		font-size: 48px;
	}
	.motto p {
		font-size: 32px;
		line-height: 180%;
	}
	.motto p.author {
		font-size: 20px;
	}	
}
@media (orientation: portrait) and (min-width: 1024px){
	.motto .bg {		
		padding: 100px;			
	}
	.motto h1 {
		font-size: 48px;
	}
	.motto p {
		font-size: 36px;
		line-height: 200%;
	}
	.motto p.author {
		font-size: 24px;
	}	
}
@media (orientation: landscape) and (min-width: 665px) {
	.motto .bg {		
		padding: 40px;			
	}
	.motto h1 {
		font-size: 32px;
	}
}
@media (orientation: landscape) and (min-width: 1024px) {
	.motto .bg {		
		padding: 80px 100px;			
	}
	.motto h1 {
		font-size: 48px;
	}
	.motto p {
		font-size: 36px;
	}
	.motto p.author {
		font-size: 24px;
	}	
}
/*hobby*/
.hobby {
	max-width: 1920px;
	margin: 0 auto;
}
.hobby .item {
	height: 25vh;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	cursor: default;
}
.hobby h1 {	
	padding: 20px;
	font-family: 'Saira Condensed', sans-serif;
	font-size: 24px;
	text-transform: uppercase;
	text-align: center;
}
.hobby .item:nth-of-type(1) {
	background-image: url(images/hobby1.jpg);
}
.hobby .item:nth-of-type(2) {
	background-image: url(images/hobby2.jpg);
}
.hobby .item:nth-of-type(3) {
	background-image: url(images/hobby3.jpg);
}
.hobby .item:nth-of-type(4) {
	background-image: url(images/hobby4.jpg);
}
.hobby .item p {
	font-family: "Saira", sans-serif;
	font-size: 24px;
	text-align: center;
	color: #fff;
	background-color: rgba(0, 0, 0, .5);
	padding: 5px 0;
}
@media (min-width: 533px) {
	.hobby .item {
		float: left;
		width: 50%;
		height: 50vh;
	}
}
@media (min-width: 768px) {
	.hobby h1 {
		font-size: 36px;
		padding: 30px;
	}
	.hobby .item p {
		font-size: 36px;
		padding: 15px 0;
	}
}
@media (min-width: 1024px) {
	.hobby .item p {
		padding: 0;
		line-height: 50vh;
		opacity: 0;
		transition: .3s;
	}
	.hobby .item:hover p {
		opacity: 1;
	}
	.hooby .item {
		background-size: 100%;
		transition: .3s;
	}
	.hobby .item:hover {
		background-size: 140%;
	}
}
@media (min-width: 1600px) {
	.hobby h1 {
		font-size: 48px;
		padding: 30px;
	}
	.hobby .item p {
		font-size: 48px;
	}
}
/*contact*/
.contact {
	background-color: #222;
	padding: 20px 30px;
}
.contact .wrap {
	padding-top: 40px;
	max-width: 1024px;
	margin: 0 auto;
}
.contact h1 {	
	font-family: 'Saira Condensed', sans-serif;
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
}
.contact input, .contact textarea, .contact button {
	width: 100%;
	margin-bottom: 20px;
	padding: 5px;	
	font-family: 'Saira', sans-serif;
	font-size: 12px;
}
.contact input {	
	height: 36px;	
}
.contact textarea {
	height: 120px;
}
.contact button {
	height: 40px;
	font-size: 14px;
	border: 2px solid #fff;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
}
.contact .socials {
	padding-top: 30px;
	font-size: 0;
}
.contact .social {
	padding: 5px 0;
	font-family: "Saira Condensed", sans-serif;
	color: #fff;	
}
.contact .social img {
	height: 36px;
	float: left;	 
}
.contact .social span {
	line-height: 36px;
	padding-left: 20px;
	float: left;
	font-size: 14px;
}
@media (min-width: 533px) {
	.contact .social {
		display: inline-block;
		padding: 5px 25px;
		width: 50%;
	}
}
@media (min-width: 768px) {	
	.contact h1 {
		font-size: 36px;  
	}
	.contact input, .contact textarea, .contact .social span {
		font-size: 18px;
	}
	.contact form, .contact .socials {
		float: left;
		width: 50%;
	}
	.contact .socials {
		padding-top: 0;
	}
	.contact .social {
		display: block;
		margin: 0 auto;
		padding: 10px 0;
		width: 50%;
	}
}
@media (min-width: 1024px) {
	.contact input, .contact textarea, .contact .social span {
		font-size: 24px;
	}
	.contact button {
		font-size: 24px;
		height: 60px;
	}
}